.placeholder {
    height: 2rem;
    margin: 0;
    padding: 0;
}
.stylized-container {
    margin-top: 1rem;
}
.stylized-container > * {
    animation: 1s ease-out 0s item-appear;
    width: 100%;
    pointer-events: visible;
}
.panel-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    pointer-events: none;
}
.right-panel {
    position: absolute;
    right: 0;
    padding-right: 0.5rem;
    height: 100%;
    z-index: 5;
    background: linear-gradient(to left, rgba(20, 20, 20, 0.8), transparent);
}
.left-panel {
    position: absolute;
    left: 0;
    padding-left: 0.5rem;
    height: 100%;
    z-index: 5;
    background: linear-gradient(to right, rgba(20, 20, 20, 0.8), transparent);
}
.left-panel-enter-active, .left-panel-leave-active,
.right-panel-enter-active, .right-panel-leave-active {
    transition: all 1s ease-out;
}
.right-panel-leave-from, .right-panel-enter-to {
    right: 0;
    opacity: 1;
}
.right-panel-leave-to, .right-panel-enter-from {
    right: -25%;
    opacity: 0;
}
.left-panel-leave-from, .left-panel-enter-to {
    left: 0;
    opacity: 1;
}
.left-panel-leave-to, .left-panel-enter-from {
    left: -25%;
    opacity: 0;
}